<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountingWebServiceSoap" maxBufferSize="999999"
                    maxReceivedMessageSize="999999" />
                <binding name="AccountingServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AccountingServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://fceo.ir/accountingwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountingWebServiceSoap"
                contract="accountingwebservice.AccountingWebServiceSoap" name="AccountingWebServiceSoap" />
            <endpoint address="http://10.175.21.9:8081/AccountingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountingServiceSoap"
                contract="PayvastWS.AccountingServiceSoap" name="AccountingServiceSoap" />
            <!--<endpoint address="http://10.175.21.9:8081/AccountingService.asmx"
                binding="customBinding" bindingConfiguration="AccountingServiceSoap12"
                contract="PayvastWS.AccountingServiceSoap" name="AccountingServiceSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>