<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountingWebServiceSoap" 
                         maxBufferSize="999999" maxReceivedMessageSize="999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fceo.ir/accountingwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountingWebServiceSoap"
                contract="accountingwebservice.AccountingWebServiceSoap" name="AccountingWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>